#header {
    background-color: #222;
}

#header h4, p{
    color: #fff;
    vertical-align: middle;
}

#debug {
    border: 1px solid #222;
    background-color: #aaa;
}

#unity-element {
    border: 1px solid #ddd;
    background-color: rgb(250, 250, 255);
    height: inherit;
}

#tabs {
    height: inherit;    
}

.row {
    margin-bottom: 10px;
}

#main-body {
    height: 500px;

}

#info, #images{
    padding:10px 0;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;  /** TODO: SHOULDNT BE NEEDED **/
}
